body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $dark;
  background-color: $background-main;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.logo {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 36px;
}

.button {
  font-size: 14px;
  line-height: 1.3;
  padding: 7px 14px;
  border-radius: 6px;
  color: $white;
  background-color: $accent;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;

  &:focus {
    color: $accent;
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    background-color: rgba($accent, 0.1);
  }

  &:hover {
    color: $accent;
    box-shadow: 0 0 0 2px rgba($accent, 0.7), 0 5px 12px 0 rgba($accent, 0.2);
    background-color: rgba($accent, 0.1);
  }

  &:active {
    color: $accent;
    background-color: rgba($accent, 0.1);
  }
}

.button--big {
  font-size: 18px;
  letter-spacing: 0.03em;
  border-radius: 6px;
  padding: 12px 32px;
  color: $white;
  background-color: $accent;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;

  &:focus {
    color: $accent;
    box-shadow: 0 0 0 2px rgba($accent, 0.7);
    background-color: rgba($accent, 0.1);
  }

  &:hover {
    color: $accent;
    box-shadow: 0 0 0 2px rgba($accent, 0.7), 0 5px 12px 0 rgba($accent, 0.2);
    background-color: rgba($accent, 0.1);
  }

  &:active {
    color: $accent;
    background-color: rgba($accent, 0.1);
  }
}