html,
body {
  height: 100%;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: $dark;
  background-color: $background-main;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  flex: 1;
}

.title {
  font-weight: 500;
  font-size: 36px;
}

.button {
  color: $white;
  background-color: $accent;
  transition: color 0.5s, box-shadow 0.5s, background-color 0.5s;
}

.button:focus {
  color: $accent;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
  background: rgba(255, 104, 56, 0.1);
}

.button:hover {
  color: $accent;
  box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7), 0 5px 12px 0 rgba(255, 104, 56, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

.button:active {
  color: $accent;
  background: rgba(255, 104, 56, 0.1);
}

.logo {
  display: block;
}