@import 'reset';
@import 'vars';
@import 'global';

@import 'components/header';
@import 'components/product-card';
@import 'components/footer';


.hero {
  padding-top: 60px;
  padding-bottom: 120px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 60vh;

    &::after {
      content: '';
      position: absolute;
      max-width: 560px;
      width: 100%;
      height: 100%;
      left: 50%;
      bottom: 0;
      background-image: url('../images/hero-img.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 476px;
    width: 100%;
  }

  &__title {
    font-weight: 500;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    display: block;
    color: $accent;
  }

  &__text {
    max-width: 450px;
    width: 100%;
    line-height: 1.5;
    color: $third;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__link {
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.popular {
  text-align: center;
  padding-bottom: 120px;

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 60px;
  }

  &__product-item {
    max-width: 210px;
    width: 100%;
  }

  &__button {
    line-height: 1.5;
    text-decoration: underline;
  }
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__list {
    margin-bottom: 45px;
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $background-secondary;
    background-color: $white;
    padding: 13px 32px;

    &.mixitup-control-active {
      color: $white;
      background-color: $accent;
    }
  }

  &__icon {
    &.mixitup-control-active {
      stroke: $white;
    }
  }
}

.contacts {
  max-width: 195px;
  width: 100%;
  margin-right: 70px;

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    line-height: 2;
    color: $third;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 13px;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: $background-secondary;
  }
}