@use 'fonts';
@use 'reset';
@use 'vars';
@use 'global';


body {
  @extend %rubik-400;
  font-size: 20px;
  line-height: 1.3;
  color: vars.$color-accent;
  background-color: vars.$color-bg;
}

.title {
  @extend %rubik-500;
  font-size: 36px;
}

.header {
  padding: 60px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
    gap: 64px;
  }

  &__actions {
    display: flex;
    align-items: flex-end;
    gap: 35px;
  }
}


.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__link {
    color: vars.$color-text;
    font-size: 18px;
    &--active {
      color: vars.$color-orange;
    }
  }
}

.logo {
  display: block;
}

.hero {
  padding-bottom: 120px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 476px;
    width: 100%;
  }

  &__title {
    max-width: 476px;
    width: 100%;
    @extend %rubik-500;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__subtitle {
    display: block;
    color: vars.$color-orange;
  }

  &__text {
    max-width: 450px;
    width: 100%;
    line-height: 1.5;
    color: vars.$color-text;
    margin-bottom: 20px;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__button {
    font-size: 18px;
    letter-spacing: 0.03em;
    color: vars.$color-white;
    background-color: vars.$color-orange;
    padding: 12px 32px;
    border-radius: 6px;
  }

  &__link {
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.popular {
  text-align: center;
  padding-bottom: 120px;

  &__title {
    @extend %rubik-500;
    text-align: center;
    margin-bottom: 60px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;
  }

  &__categories {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 1px vars.$color-light-gray;
    background-color: vars.$color-white;
    padding: 13px 32px;

    &.mixitup-control-active {
      color: vars.$color-white;
      background-color: vars.$color-orange;
    }
  }

  &__categories-icon {
    &.mixitup-control-active {
      stroke: vars.$color-white;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 0 1px vars.$color-light-gray;
    background-color: vars.$color-white;
    padding: 18px 15px;
  }

  &__img {
    margin-bottom: 10px;
  }

  &__name {
    font-size: 15px;
    color: vars.$color-text;
    margin-bottom: 10px;
  }

  &__price {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
    margin-top: auto;
    margin-bottom: 10px;
  }

  &__add {
    max-width: 100px;
    width: 100%;
    font-size: 14px;
    padding: 7px 14px;
    border-radius: 6px;
    color: vars.$color-white;
    background-color: vars.$color-orange;
  }

  &__button {
    line-height: 1.5;
    text-decoration: underline;
  }
}





.footer {

  &__wrapper {
    display: flex;
    align-items: flex-start;
    padding-bottom: 60px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__list {
    max-width: 494px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: column;
    grid-template-columns: repeat(3, max-content);
    justify-content: space-between;
    row-gap: 20px;
    margin-right: 135px;
  }

  &__link {
    font-size: 18px;
    letter-spacing: 0.01em;
    color: vars.$color-text;
  }

  &__bottom {
    background-color: vars.$color-accent;
    text-align: center;
    padding: 30px 0;

    &-text {
      font-size: 14px;
      line-height: 1;
      color: vars.$color-white;
    }
  }
}

.form {
  max-width: 200px;
  width: 100%;
  margin-right: 76px;

  &__label {
    display: block;
    margin-bottom: 12px;
  }

  &__input {
    font-size: 14px;
    color: vars.$color-gray-medium;
    background-color: vars.$color-white;
    border: 1px solid vars.$color-gray-medium;
    border-radius: 5px;
    padding: 13px 15px;
    display: block;
    width: 100%;

    &::placeholder {
      color: vars.$color-gray-medium;
    }
  }
}

.button {
  @extend %rubik-500;
  color: vars.$color-white;
  background-color: vars.$color-orange;
  border-radius: 5px;
  font-size: 14px;
  padding: 13px 37px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts {
  max-width: 195px;
  width: 100%;
  margin-right: 70px;

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 16px;
    line-height: 2;
    color: vars.$color-text;
  }
}

.social {
  &__list {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: vars.$color-light-gray;
  }
}