<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="images/favicon/favicon.svg" />
  <link rel="shortcut icon" href="images/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <title>Проста їжа</title>
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body id="body">
  <div class="wrapper">
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <a class="logo" href="#body">
            <img src="images/logo.svg" alt="логотип" width="200" height="39">
          </a>
          <div class="header__inner">
            <nav class="menu">
              <ul class="menu__list">
                <li class="menu__item">
                  <a class="menu__link menu__link--active" href="#">
                    Головна
                  </a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">
                    Страви
                  </a>
                </li>
                <li class="menu__item">
                  <a class="menu__link" href="#">
                    Контакти
                  </a>
                </li>
              </ul>
            </nav>
            <ul class="header__actions">
              <li class="header__actions-item">
                <a class="header__actions-link" href="#">
                  <svg width="21" height="21">
                    <use xlink:href="images/sprite.svg#search"></use>
                  </svg>
                </a>
              </li>
              <li class="header__actions-item">
                <a class="header__actions-link" href="#">
                  <svg width="29" height="24">
                    <use xlink:href="images/sprite.svg#buy-btn"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>