.footer {
  &__container {
    display: flex;
    padding-bottom: 60px;
  }

  &__inner {
    margin-right: 76px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__list {
    max-width: 494px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-auto-flow: column;
    justify-content: space-between;
    row-gap: 20px;
    margin-right: 135px;
  }

  &__link {
    font-size: 18px;
    color: $third;
  }

  &__bottom-text {
    background-color: $dark;
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    line-height: 1;
    color: $white;
  }
}

.subscribe-form {

  &__input {
    max-width: 200px;
    width: 100%;
    font-size: 14px;
    color: $dark;
    background-color: $white;
    border: 1px solid $light;
    border-radius: 5px;
    padding: 13px 15px;
    display: block;
    margin-bottom: 12px;

    &::placeholder {
      color: $light;
    }
  }

  &__button {
    font-weight: 500;
    max-width: 200px;
    border-radius: 5px;
    font-size: 14px;
    padding: 13px 37px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}