.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $background-secondary;
    background-color: $white;
    padding: 18px 15px;
    height: 100%;

    &__img {
        margin-bottom: 10px;
    }

    &__name {
        font-size: 15px;
        color: $third;
        margin-bottom: 10px;
    }

    &__price {
        font-weight: 500;
        font-size: 15px;
        line-height: 1.4;
        margin-top: auto;
        margin-bottom: 10px;
    }
}